---
import "../styles/components/blogCard.sass";
interface Props {
  title: string;
  tagline: string;
  author: string;
  imageUrl: string;
  authorImage: string;
  index: number;
}

const { imageUrl, title, authorImage, tagline, author } = Astro.props as Props;
const newImageUrl = `https://julians-godnatta-historier.netlify.app/.netlify/images?url=/images/${imageUrl}`;
const profileImageFullPath = `https://julians-godnatta-historier.netlify.app/.netlify/images?url=/images-authors/${authorImage}`;
---

<div class="blog-card-container">
  <div
    class="blog-card-backround-image"
    style=`background-image: url(${newImageUrl})`
  >
  </div>
  <section class="bottom-half-of-card">
    <h2 class="blog-title" set:html={title} />
    <p set:html={tagline}>
      <div class="author-section">
        <div
          class="author-image"
          style={{ backgroundImage: `url(${profileImageFullPath})` }}
        >
        </div>
        <div class="name-and-date-container">
          <div class="author" set:html={author} />
          <div>Today</div>
        </div>
      </div>
    </p>
  </section>
</div>
